Easy

Вычислить вероятность выживания, если пассажиру:

от 0 до 25 лет
от 25 до 50 лет
от 50 лет и старше

In [10]:
import pandas as pd

df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
age_group_0_25 = df[(df['Age'] <= 25)]
age_group_25_50 = df[(df['Age'] > 25) & (df['Age'] <= 50)]
age_group_50_plus = df[(df['Age'] > 50)]

# Вероятность выживания
prob_0_25 = age_group_0_25['Survived'].mean()
prob_25_50 = age_group_25_50['Survived'].mean()
prob_50_plus = age_group_50_plus['Survived'].mean()

# Результаты
print(f'0-25: {prob_0_25:.2f}')
print(f'25-50: {prob_25_50:.2f}')
print(f'50+: {prob_50_plus:.2f}')

0-25: 0.41
25-50: 0.41
50+: 0.34

Normal
Вычислить с какой вероятностью пассажир женского пола, если известно, что он выжил (использовать теорему Байеса)

In [12]:
df = pd.read_csv('train.csv')

P_female = df[df['Sex'] == 'female'].shape[0] / df.shape[0]
P_survived = df[df['Survived'] == 1].shape[0] / df.shape[0]
P_survived_given_female = df[(df['Sex'] == 'female') & (df['Survived'] == 1)].shape[0] / df[df['Sex'] == 'female'].shape[0]
P_female_given_survived = (P_survived_given_female * P_female) / P_survived

print(f"Вероятность выживания пассажира женского пола: {P_female_given_survived:.2f}")

Вероятность выживания пассажира женского пола: 0.68

Hard

Закон распределения задается функцией плотности

$ f(x) = \lambda e^{-\lambda x}, x > 0 $

$ f(x) = 0, x <= 0 $

Найти вероятность того, что событие произойдет при x∈[1,2]

In [13]:
import numpy as np
import scipy.integrate as integrate

# Задание параметра λ
lambda_param = 1.0

# Определение функции плотности вероятности
def pdf(x, lambda_param):
    return lambda_param * np.exp(-lambda_param * x)

# Вычисление интеграла от 1 до 2 для заданной функции плотности
probability, error = integrate.quad(pdf, 1, 2, args=(lambda_param,))

print(f"Вероятность что событие произойдет при x E[1, 2]: {probability:.4f}")

Вероятность что событие произойдет при x E[1, 2]: 0.2325